
*.iml
.gradle
.idea
.DS_Store
build
*/build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata/
Pods/
*.jks
*yarn.lock
**/karma.config.d/moko-resources-generated.js
**/webpack.config.d/moko-resources-generated.js
jsBackend/.env
*.jks